#To install please use: 
#  $ pip3 install -r requirements.txt
apscheduler
pytz
pyephem
pyserial
requests
gevent-websocket
wsaccel
ujson
twisted
mock
xmpppy
phue
-e git+https://github.com/jcollie/pyjnest.git#egg=pyjnest
-e git+https://github.com/zonyl/pyharmony.git#egg=pyharmony
interruptingcow
-e git+https://github.com/pettazz/pygooglevoice.git#egg=pygooglevoice
